<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ProgrammingInCSharpConnection" providerName="System.Data.SqlClient" connectionString="Integrated Security=true;Persist Security Info=False;Initial Catalog=CartersiBusDB_Dev;Data Source=WIN10-DEV-JRC\SQLEXPRESS" />
  </connectionStrings>
</configuration>