<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ProgrammingInCSharpConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=CartersiBusDB_Dev;" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="myTraceSource" switchName="defaultSwitch">
        <listeners>
          <add initializeData="JC_trace_output_test.txt" type="System.Diagnostics.TextWriterTraceListener" name="myLocalListener">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
          <add name="consoleListener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="output.xml" type="System.Diagnostics.XmlWriterTraceListener" name="xmlListener" traceOutputOptions="None" />
      <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListener" traceOutputOptions="None" />
    </sharedListeners>
    <switches>
      <add name="defaultSwitch" value="All" />
    </switches>
  </system.diagnostics>
</configuration>